<article class="container__big-card">
    <div class="big-card__picture">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
    </div>
    <div class="big-card__date">
        <p>January 19, 2024</p>
    </div>
    <div class="big-card__title">
        <h3>
            Look it's a bulbasaur
        </h3>
    </div>
    <div class="big-card__description">
        <p>The best starter of the pokemon red, he easily defeat the first Gym which all the pokemons are of the rock type and also the second of the water type. </p>
    </div>
</article>