<article class="container__small-card">
    <div class="small-card__picture">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/4.svg"
            alt="Insane pokemon">
    </div>
    <div class="small-card__text">
        <div class="small-card__date">
            <p>January 19, 2024</p>
        </div>
        <div class="small-card__title">
            <h3>
                The Charmander, take care to don't get burnt.
            </h3>
        </div>
    </div>

</article>